:global{
  .el-textarea__inner{
    height: 300px;
  }
  .el-table th{
    background: #64ab41;
    color: #fff;
    font-size: large;
  }
  .el-upload{
    width: 100%;
  }
  .el-upload-dragger{
    width: 60%;
    margin: auto;
  }
}
